.nav-item-text {
  padding-right: 0px !important;
}

.bona-head-text {
  font-size: 3.5rem;
}

.bona-head-text2 {
  padding: 10px;
  max-width: 100% !important;
  font-size: 2rem;
}

.bona-about {
  font-size: 1.6rem;
  max-width: 100% !important;
}

.bona-about-detail {
  letter-spacing: 1px;
  margin: 19px 4px;
  font-size: 1.0rem;
}

.footer-last {
  margin-top: 10px;
}

.bona-header {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5!important;
  background-image: url(../../assets/img/bona-main/bona_cloud.jpg);
}

.bona-background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/img/bona-main/bona_background.png');
  background-size: 45%;
}

.bona_all_about {
  padding: 0px !important;
}

.bona-details {
  font-weight: bold;
  letter-spacing: 0.5px;
  max-width: 1000px !important;
  text-align: left !important;
  padding: 1%;
}

.bona-img-width {
  width: 100%;
}

.about_bona_hole {
  opacity: 0.9;
  padding-bottom: 40px;
  margin-top: 25px;
  background-color: #e9e2e3;
}

.bona-opening-hours {
  padding: 30px 0px 30px !important;
}
.bona-table-div{
  width: 72%;
}
.bona-table-cell-1{
  width: 10%;
}
.bona-table-cell-2{
  width: 60%;
}
.bona-table-cell-3{
  width: 10%;
}
.bona-table-cell-4{
  width: 20%;
}
.bona-table-t{
  background-color: #f3ced4;;
}